/*css 重置样式*/
*,::before , ::after {
    margin: 0;
    padding: 0;
    /*  针对移动端*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;/*兼容性*/
    -webkit-tap-highlight-color:transparent;/*清除点击高亮效果*/
}
body{
    color: #333;
    font-family:sans-serif;
}
ul ol {
    list-style: none !important; 
}
a{
    text-decoration: none !important;
    color: #333;
}
input textarea{
    outline: none;
    border: none;
    resize: none;/* 禁止输入框伸缩*/
    /* 清除移动端的输入框特有样式*/
    -webkit-appearance: none;

}

/*公共样式 common  css*/
.f_left{
    float: left;
}
.f_right{
    float:right;
}
.clearfix::before,
.clearfix::after{
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.index_container{
    width: 100%;
    max-width: 1020px;
    min-width: 320px;

    margin: 0 auto;
}
